{#{% extends 'base.html' %}#}
{#{% load static %}#}
{##}
{##}
{#{% block content %}#}
{##}
{#    <div class="row center-align">#}
{#        <form method="post" action="" role="form" class="col s12">#}
{#            </h3>#}
{#            <div class="row">#}
{#                {% csrf_token %}#}
{#                {{ form.id }}#}
{#                <h3>Zmień hasło</h3>#}
{#                <h3>Stare hasło</h3>#}
{#                <div class="input-field col s12">#}
{#                    {{ form.old_password }}#}
{#                    <label for="old_password">Nowe hasło</label>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="input-field col s12">#}
{#                    {{ form.new_password }}#}
{#                    <label for="new_password">Powtórz nowe hasło</label>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="input-field col s12">#}
{#                    {{ form.confirm_password }}#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col s12">#}
{#                    <span style="color: red; font-weight: bold;">{{ form.errors }}</span>#}
{#                </div>#}
{#            </div>#}
{#            <button class="btn waves-effect waves-light" type="submit" name="action"><i#}
{#                    class="material-icons left">send</i>Zmień hasło#}
{#            </button>#}
{#            <br>#}
{#            <button type="submit" name="action" class="button is-success">#}
{#                Zmień hasło#}
{#            </button>#}
{#        </form>#}
{#    </div>#}
{##}
{#{% endblock %}#}
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns is-mobile has-text-centered">
                <div class="column is-half is-offset-one-quarter">
                    <div class="card">
                        <div class="card-content">
                            <form method="post" action="" role="form">
                                {% csrf_token %}
                                {{ form.id }}
                                <h3 class="title">Zmiana hasła</h3>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <label class="label">Stare hasło</label>
                                        {{ form.old_password }}
                                        <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <label class="label">Nowe hasło</label>
                                        {{ form.new_password }}
                                        <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <label class="label">Powtórz hasło</label>
                                        {{ form.confirm_password }}
                                        <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                    </p>
                                </div>
                                {#                                {% if form.errors %}#}
                                {#                                    <div class="row">#}
                                {#                                        <div class="col s12">#}
                                {#                                            <span style="color: red; font-weight: bold;">Login i/lub hasło nie są zgodne</span>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                {% endif %}#}
                                <div class="row">
                                    <div class="col s12">
                                        <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
                                    </div>
                                </div>
                                <div class="field">
                                    <p class="control">
                                        <button type="submit" value="login" class="button is-success">
                                            Zmień hasło
                                        </button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock content %}


